.topbanner{
    background: linear-gradient(99deg, #925FE2 53.12%, #DFCFF7 155.43%);
    position: absolute;
    top: 5%;
    /* width: 00px; */
    gap: 230px;

}


.wrapper{
    justify-content: center;
    /* gap: 20px; */
    
}
.primary{
    color: rgba(255, 255, 255, 0.75);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.secondary{
    color: var(--Primary, #FFF);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.img{
  
    height: 150px;
    /* width: 700px; */
    align-items: center;
}
.left{
    gap: 50px;
}
.tert{
    color: rgba(255, 255, 255, 0.75);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.right{
    width: 220px;
height: 200px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
}
.maindetaails{
    /* padding-bottom: 1rem; */
    gap: 10%;
    border-bottom: solid 1px #707070;
}
/* .details{
    margin-top: 200px;
} */
.detailswrapp{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.profile{
    padding: 1.5rem;
    gap: 20px;
    /* width: 50; */
}
.score{
    position: absolute;
    /* top: 30%; */
}
.textcontent{
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.headtext{
    color: #ffffff;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.subtext{
    color: rgba(255, 255, 255, 0.5);
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 3px;
}
.details{
    width: 100%;
}

.detailscontainer{
  padding-left: 1rem;
    border-left: solid 1px #f7d9ff;
}
.headtext2{
    padding-top: 15px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.secondary2{
    padding-top: 1rem;
    color: var(--Primary, #242424);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.secondary3{
    /* padding-top: 1rem; */
    color: var(--Primary, #242424);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.customTable{
    position: absolute;
    width: 1355px;
    border-radius: 60px;
    /* margin-right: 20px; */
    border-collapse: collapse;/* Remove default cell spacing */
  }
  
  .tablehead th, .tablebody td {
    /* border: 1px solid #ddd;  */
    /* Border for each cell */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
    
  }
  
  .tablehead th {
    background-color: #ffffff; 
    border-bottom: 2px solid #dbaad5;
    color: var(--secondary);
    font-weight: 600;/* Background color for header cells */
    text-align: center;
    padding: 14px;
  }

  .scoretop{
    display: flex;
    justify-content: Center;
    align-items: flex-start;
    gap: 100px;
  }

  /* LeaderBoardTable.module.css */
.tablebody td{
    text-align: center;
    padding: 13px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    letter-spacing: -0.5px;
}
  
  .tablebody td:first-child,
  .tablebody td:nth-child(2),
  .tablebody td:last-child {
    width: 180px; /* Adjust the width as needed */
    /* Add any additional styles you want for these columns */
    
  }
  .tablebody td:first-child{
    font-weight: 800;
  }
  

  /* .pagination{
 

  } */
  .maintable{
    width: 100%;
    height: 100%;
    position: static;
    top: 0px;
    
  }

  