.filterbutton{
    /* width: 70px; */
    gap: 5px;
}
.filterinputs{
  gap: 1px;
  
}
.filters{
    gap: 5px;
}

.button{
    font-weight: 500;
    padding: 1rem 2rem;
    color: #ffffff;
    background: #9747FF;
    border: none;
    border-radius: 2px;
    transition: all 300ms ease-in;
  }
  
  .button:hover{
    font-weight: 800;

    color: var(--secondary);
    box-shadow: 3px 3px 19px 0px rgba(0, 0, 0, 0.10);
    background: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    
  }
  
  .selectField{
    height: 52px;
    width: 430px;
    text-align: center;
    border: none;
    
    /* border-bottom: 2px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    border-left: 0.5px solid #e2e2e2; */
    color: #9747FF; 
    /* background-color: #f0f0f0; */
    font-weight: normal;
    transition: border-bottom-color 0.3s, color 0.3s, font-weight 0.3s;
  }



/* Your existing styles... */

/* Sample styles for the Select component */
.Select {
    width: 100%; /* Adjust the width as needed */
  }
  
  .selectField {
    font-size: 16px; /* Adjust the font size */
    /* border: 1px solid #ccc;  */
    /* height: 52px; */
    /* border: 2px solid violet;  */
    /* height: 60px; */
    width: 389px;
    border-radius: 5px; /* Border radius */
    /* padding: 10px;  */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  /* Style for the dropdown menu */
  .Select__menu {
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  /* Style for each option in the dropdown menu */
  .Select__option {
  
    
    padding: 10px; /* Padding inside each option */
  }
  
  /* Style for the selected option */
  .Select__single-value {
    
    color: #303030; /* Text color for the selected option */
  }
  
  /* Style for the placeholder text */
  .Select__placeholder {
    
    color: #999; /* Placeholder text color */
  }
  
  /* Style for the arrow icon */
  .Select__indicator {
    color: #333; /* Color of the arrow icon */
  }
  
  /* Style for the arrow icon when the dropdown is open */
  .Select__indicator--is-open {
    transform: rotate(180deg); /* Rotate the arrow when the dropdown is open */
  }
  
  /* Your existing styles... */
  


  @media (min-width:426px) and (max-width: 768px){

.filterinputs{
  flex-direction: column;
  gap: 5px;
}
.filters{
  flex-direction: column;

}
.selectField {
  width: 661px;
}
.filterbutton{
  gap: 7px;
}
.button{
  padding: 1rem 9.1rem;
}
  }

@media (max-width: 425px){}