
.wrapper{
    /* position: fixed;
    top: 70px;
    width: 100%;
    background-color: #F8F8F8; */
    padding-left: 3.5rem;
    padding-top: 1.5rem;
    height: 100vh;
}

.container{
    gap: 1rem;
 
}

.headerbar{
gap: 2px;
}

.header{
  color: var(--Gray-1, #000000);
font-family: "Plus Jakarta Sans";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 36px */
/* letter-spacing: 0.60px; */
}

.subtitle{
  color: var(--Gray-1, #6d6c6c);
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: 0.2px;
}
/*------------------------------------------------*/

.Error{
  width: 100%;
  font-weight: 500;
  color: rgb(255, 0, 0);
}
.Opps{

  width: 500px;
  height: 100vh;
  color: aqua;
}