
/* .wrapper{
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: #F8F8F8;
} */

.container{
    gap: 1rem;
 
}

.filterbutton{
    width: 70px;
}

.button{
    font-weight: 500;
    padding: 1rem 2rem;
    color: #ffffff;
    background: #9747FF;
    border: none;
    border-radius: 2px;
    transition: all 300ms ease-in;
  }
  
  .button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
  }
  
  .inputField {
    height: 52px;
    width: 430px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    border-left: 0.5px solid #e2e2e2;
    color: #000; 
    /* background-color: #f0f0f0; */
    font-weight: normal;
    transition: border-bottom-color 0.3s, color 0.3s, font-weight 0.3s;
  }
  
  .inputField:focus {
    border-bottom-color: #9747FF;
    color: #9747FF; 
    font-weight: bold;
    outline: none;
  }
  
  
  .customTable{
    width: 1383px;
    /* margin-right: 20px; */
    border-collapse: collapse;/* Remove default cell spacing */
  }
  
  .tablehead th, .tablebody td {
    border: 1px solid #ddd; /* Border for each cell */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
  }
  
  .tablehead th {
    background-color: #f2f2f2; /* Background color for header cells */
  }


  .maintable{
    width: 100%;
  }