.dashboard{
    position: fixed;
    padding-top: 5px;
    top: 55px;
    width: 100%;
    background-color: #F8F8F8;
    /* overflow: scroll; */
}

@media (min-width:426px) and (max-width: 768px){

    .dashboard{
        padding-top: 80px;
    }
    
}