.topbanner{
    position: relative;
    top: 0;
height: 100%;
width: 100%;
background-color: var(--secondary);
padding: 3rem;
text-align: center;
color: white;
letter-spacing: -0.5px;
font-size: 24px;
}
h4{

font-weight: 500;
}
.student{
    gap: 1rem;
    letter-spacing: -0.7px;
font-size: 24px;
}
.inputs{}