/* styles.css */
.wrapper{
  display: flex;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.Banner{
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    border-radius: 10px 0 0 10px;
    border: 1px solid rgba(205, 198, 219, 0.20);
    box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.04);



}



/* Your existing styles */
.seconddivision {
  /* ... */
}

.innertext {
  /* ... */
}

.img {
  /* ... */
}

/* New styles for rectangles */
.rectangle {
  position: absolute;
  top: 75.3vh;
  width: 20px;
  height: 42px;
  background: white;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out; /* Add animation transition */
}

.imagewrapper{

}

.leftRectangle {
  left: 44.2vw;
}

.rightRectangle {
  left: 47.3vw;
}

.notMovingleft {
  left: 45.7vw;
}
.notMovingright {
  left: 46.9vw;
}
.moving {
  transform: translateX(10px); /* Adjust the translation as needed */
}


.normalBackground {
  background-color:var(--secondary);
}

.successBackground {
  background-color: rgb(211, 211, 211); /* Change the background color for success */
}

.leftBanner {
  /* Styles for your leftBanner */
  transition: background-color 1s ease-in-out; /* Add transition to the background-color property */
}

.imagepad{
    padding: 20px;
}
.logcontainer{
    gap: 40px;
    
}



.leftBanner{
    border-radius: 10px 0 0 10px;
    max-height: 600px;
    /* background-color:var(--secondary); */
    width: 436px;
    /* max-width: 400px; */
    
  /* padding: 20px; */
  
  
}.img{
    height: 400px;
}
/* Container styles */
.Login {
    border-radius: 0 10px 10px 0;
    width: 436px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 600px;
    padding: 50px;
    background-color: #ffffff;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  /* Header styles */
  .maintext{
    text-align: center;
    color: #333;
  }
  .Heading{
    gap: 12px;
    padding-top: 20px;
    overflow: hidden; 
  }
  .innertext{
    gap: -8px;
  }
  span {
    line-height: 1; /* Set a smaller value, like 1 or 1em */
    font-size: 14px;
  }
 
  .seconddivision{
    gap: -10px;
  }
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  .main{
    color: white;
    font-size: 24px;
  }
  /* Label styles */
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  img{
    overflow: hidden; 
  }
  .Error{
    /* position: absolute; */
    font-size: medium;
    width: 100%;
    font-weight: 500;
    color: rgb(255, 0, 0);
  }
  /* Input styles */
  .inputtext {
    height: 40px;
    width: 120%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
  }
  
  /* Add this CSS to your stylesheet */
  input:focus {
    outline: none;
    border-color: var(--secondary); /* Change the border color on focus */
    /* box-shadow: 0 0 5px rgba(167, 76, 175, 0.5); Add a subtle box shadow on focus */
  }
  
  .buttonstyles{
    width: 120%;
    font-weight: 500;
    padding: .6rem 1.4rem;
    color:var(--secondary);
   
    border: none;
    border-radius: 4px;

  }
  .buttonstyles:hover{
    background-color: #9747FF;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    
  }
  /* Button styles */
  /* button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
   */
  /* Button hover effect
  button:hover {
    background-color: #45a049;
  } */
  
  /* Responsive styles */
  /* @media (max-width: 600px) {
    div {
      max-width: 100%;
      padding: 10px;
    }
  } */






  
  @media (min-width:769px) and (max-width: 1175px) {
   .Banner{
    gap: -50px;
    padding-top: 100px;
    flex-direction: column;

   }
   .leftBanner{
    border-radius: 0;
    /* max-width: 436px; */
    margin-top: 500px;
   }
   .Login{
    MARGIN-top: -55px;
    border-radius: 0px;
   }
 .rectangle{
  visibility: hidden;
 }
    }

    @media (max-width: 425px) {
      .imagepad{
        opacity: 0;
      }
      .leftBanner{
        height: 309px;
      }
      .rectangle{
        visibility: hidden;
       }
      .Login{
    MARGIN-top: -55px;
    border-radius: 0px;
   }
    }

    
@media (min-width:426px) and (max-width: 768px) {
      .Banner{
        
       gap: -50px;
       height: 100vh;
       /* margin-top: 50px; */
      }
      .rectangle{
        visibility: hidden;
       }
      .leftBanner{
        width: 500px;
        height: 300px;
       border-radius: 0;
       max-width: 436px;
       margin-top: 100px;
      }
      .Login{
height: 450px;

       margin-bottom: 50px;
       MARGIN-top: -155px;
      }
      
       }
  


    